.lower-navbar a{
    white-space: normal !important;
    line-height: 1.3em !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 11.5px !important;
}
.fa {
    color: #fff;
    text-shadow: 0px 0px 0px black;
}
.app-body, .navbar, .list-group-item{
    color: #ffffff;
    background-color: #0062cc;
}
.navbar-app .btn-navbar, .navbar-app .btn{
    color: #ffffff;
}