<div ng-controller="DepositCtrl" class="scrollable">
    <div class="scrollable-content">
        <div class="list-group text-center">
            <div ng-repeat="d in data"
                  class="list-group-item list-group-item-home">
                <div>
                    <h3 class="home-heading">{{d.bookmaker}}</h3>
                    {{d.redeemLink}}
                    <a ng-click="clickInfo(d.pageInfo)"><img src="{{d.thumbnailLink}}"></a>
                    <div>{{d.offerTxt}}</div>
                    <div>{{d.buttonTxt}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
