<div ng-controller="PageInfoCtrl" class="scrollable">
    <div class="scrollable-content">
        <div class="list-group text-center">
            <div class="list-group-item list-group-item-home">
                <h3 class="home-heading">{{info.title}}</h3>
                <a href="#/"><img src="{{info.thumbnailLink}}"></a>
                <a href="{{info.redeemLink}}"><img src="{{info.thumbnailLink}}"></a>
                <div>{{info.about}}</div>
                <div><a href="{{info.termsLink}}">{{info.terms}} </a> </div>
                </div>
            </div>
        </div>
    </div>
</div>