<div ng-controller="SportsCtrl" class="scrollable">
    <div class="scrollable-content">
        <div class="list-group text-center">
            <div  ng-repeat="d in data"
                  class="list-group-item list-group-item-home">
                <div>
                    <i class="fa fa-tachometer feature-icon  text-primary"></i>
                </div>
                <div>
                    <h3 class="home-heading">{{d.bookmaker}}</h3>
                    {{d.redeemLink}}
                </div>
            </div>
        </div>
    </div>
</div>
