<div class="scrollable">
    <div class="scrollable-content">

        <div class="list-group text-center">
            <div class="list-group-item list-group-item-home">
                <h1>OTHERS
                </h1>
            </div>
            <div class="list-group-item list-group-item-home">
                <div>
                    <i class="fa fa-gamepad feature-icon text-primary"></i>
                </div>
                <div>
                    <h3 class="home-heading">Others</h3>
                    news
                </div>
            </div>
            <div class="list-group-item list-group-item-home">
                <div>
                    <i class="fa fa-gamepad feature-icon text-primary"></i>
                </div>
                <div>
                    <h3 class="home-heading">Others</h3>
                    news
                </div>
            </div>
            <div class="list-group-item list-group-item-home">
                <div>
                    <i class="fa fa-gamepad feature-icon text-primary"></i>
                </div>
                <div>
                    <h3 class="home-heading">Others</h3>
                    news
                </div>
            </div>

        </div>

    </div>
</div>
